#main { background-color:#040412; height:100%;}

#main h1{color:#1CBBB4;}


#login label{color:#FFF;margin:5px;}

#login h2{color:#fff:}

#login input{ border-radius:2px;margin:5px;}


#main2{ border-right:1px solid  #DCDBD9 ;height:100%;}



