<!DOCTYPE >
<html>


<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!--local style-->
<link rel="stylesheet" href="css/style.css">
<!-- Latest compiled and minified JavaScript -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 </head>


<body>

<div id="container" class="container">
<div id="main" class="col-md-6">



<h1>  HoistMe</h1>
<form id="login" method="post">

<h3> Login </h3>
<label > Username: </label>     <input type="text" /> </br>

<label > Password: </label>     <input type="text" /> </br>

     <input type="Submit" value="login" /> </br>


</form>


</div>

<div id="main2" class="col-md-6">
<h1>  HoistMe</h1>

<form id="login" method="post">
<h3> Register </h3> </br>
<label style="color:#000;margin-right:32px;"> Name: </label>     <input type="text" /> </br>

<label style="color:#000"> Password: </label>     <input type="text" /> </br>

     <input type="Submit" value="Register"/> </br>


</form>









 </div>
</div>
</body>

</html>
